@import "~bootstrap/scss/bootstrap";

/* HEADER */
header {
    justify-content: space-between;
    align-items: center;

    img {
        width: 100px;
    }

    ul {
        list-style-type: none;

        li {
            position: relative;

            a {
                text-decoration: none;
                color: #71777c;
                margin: 0 10px;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 10;

                &.active,
                &:hover {
                    color: #0282f9;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        width: calc(100% - 20px);
                        height: 5px;
                        background-color: #0282f9;
                    }
                }
            }
        }
    }
}

/* HERO */
.banner_container {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;

    .current_series {
        display: inline-block;
        background-color: #0282f9;
        padding: 10px 30px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        position: absolute;
        bottom: -18px;
    }
}
